*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    min-height: 100vh;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.logo{
    color:rgb(1, 75, 94) ;
    font-weight: bold;
}
.list{
    display: flex;
    justify-content: space-between;
    /* margin-top: 10rem; */
}
.list li{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    background: rgb(0, 117, 146);
    min-height: 50px;
    width: 20%;
    margin: 0 .5rem;
}
.list li a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    
}
.home{
    background: rgba(255, 255, 255, 0.692) !important;
}
.home a{
    color: rgb(0, 117, 146) !important;
}
.book{
    background:rgb(1, 75, 94) !important ;
}
.yek h1{
    margin-top: 2em;
    font-size: 3rem;
    background:rgb(1, 75, 94) ;
    color: white;
    text-align: center;
    font-weight:100;
    padding: 1rem;

}
.do button{
    margin-top: .5em;
    border: none;
    color:rgb(0, 117, 146) ;
    font-size: 2rem;
    padding: .5rem;
}

.se button{
    margin-top: .5em;
    border: none;
    background:rgb(0, 117, 146) ;
    color: white;
    font-size: 2.5rem;
    padding: 1rem;
}
@media (max-width:538px){
    .list{
        flex-direction: column;
        align-items: center;
    }
    .list li{
        width: 90%;
    }
    .yek h1{
        margin-top: .5em;
    }
}